//

@import "~bootstrap/scss/bootstrap";

body {
  padding-top: 5rem;
}

form {
  .form-group {
    label {
      position: relative;
      > input[type="checkbox"] {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

.navbar-expand-md {
  .navbar-nav {
    .dropdown-menu {
      left: -50%;
      //min-width: 110px;
      //max-width: 110px;
    }
  }
}
