// Imports
@import "~normalize.css/normalize.css";
@import "~bootstrap/scss/bootstrap";
@import 'variables';
@import "~jquery-confirm/dist/jquery-confirm.min.css";
@import "~@curveballerpacks/tablesorter/dst/css/main.css";
@import "~material-design-icons/iconfont/material-icons.css";
@import "~jquery-ui/themes/base/core.css";
@import "~jquery-ui/themes/base/theme.css";
@import "~jquery-ui/themes/base/datepicker.css";
@import "~jquery-ui/themes/base/tooltip.css";
@import "~jquery-ui/themes/base/selectmenu.css";

body {
  min-height: 100%;
  //min-height: 125vh;
  padding-top: 5rem;
  font-family: $font-family-base;

  background-color: $primary-bg;
  background-image: url($pattern-cogs);

  main {
    min-height: 70vh;
    background: white;
    margin-bottom: 12vh;

    @include media-breakpoint-down('sm') {
      margin-bottom: 16vh;
    }

    .title {
      border-bottom: 1px solid $primary-fg-aria;
      padding-bottom: 9px;
      position: relative;
      font-family: $font-family-monospace;
      font-size: 20px;
      font-weight: 300;
      margin-bottom: 15px;
      margin-top: 20px;
      text-transform: uppercase;
    }

    h2, h3, h4, h5, hr {
      color: $primary-fg-aria !important;
    }
  }
}

form {
  .form-group {
    label {
      position: relative;

      > input[type="checkbox"] {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    textarea.form-control {
      min-height: 100px;
      max-height: 250px;
      max-width: 100%;
    }
  }

  button {
    &.btn-link {
      font-size: 24px;
      padding: .5rem .9rem;
    }
  }

  select {
    color: white !important;
    background: darken($gray-300, 50%) !important;

    option {
      color: inherit;
      background: inherit;
    }
  }

  .text-warning {
    color: darken($warning, 30%) !important;
  }

  a {
    color: $primary-bg-aria;
  }
}

.btn-primary,
.btn-dup {
  color: darken($secondary, 50%) !important;

  &:hover {
    color: lighten($secondary, 25%) !important;
    background: darken($primary-bg-dark, 5%) !important;
  }
}

.btn-success {
  color: darken($secondary, 50%) !important;

  &:hover {
    color: lighten($secondary, 25%) !important;
    background: darken($success, 25%) !important;
  }
}

.ui-widget-content {
  overflow: hidden scroll;
  max-height: 250px;
}

.form-control,
.form-control-sm,
.form-control-md,
.form-control-lg {
  &.is-invalid {
    border-color: rgb(220, 53, 69);
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23dc3545' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
    background-repeat: no-repeat;
    background-position: center right calc(0.375em + 0.1875rem);
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
  }
}

.custom-combobox {
  position: relative;
  display: inline-block;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &.disabled {
    opacity: 0.5;
    user-select: none;
    cursor: not-allowed;
  }

  &.is-invalid {
    border: 1px solid #dc3545;
    border-radius: 0.25rem;

    .custom-combobox-toggle {
      border: 1px solid #dc3545;
      border-left-width: 0;
      border-radius: 0.25rem;
      border-left-radius: 0;
      margin-top: -1px;
      padding-top: 5px;
      padding-bottom: 5px;
      margin-bottom: -1px;
    }
  }

  .custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
    background: darkgray;
    color: white;
    cursor: pointer;

    &:hover {
      background: orange;
      color: black;
    }

    & > i {
      position: relative;
      top: 50%;
      transform: translate(0, -50%);
    }
  }

  .custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
  }

}

.form-separator {
  color: $secondary;

  hr {
    border-top: 2px solid rgba(0, 0, 0, 0.3);
  }
}

@include media-breakpoint-up(md) {
  .navbar-expand-md {
    .navbar-nav {
      .dropdown-menu[aria-labelledby="user-dropdown"] {
        width: 160px;
        transform: translateX(-100%);
        right: 0;
        left: 100%;
      }
    }
  }
}

.action-cell {
  position: relative;
  display: flex;
  align-items: flex-start;
  align-content: space-between;

  .material-icons {
    line-height: 20px;
    font-size: 20px;

    &.text-warning {
      color: darken($warning, 30%) !important;
    }
  }

  > form,
  > a {
    flex-grow: 1;
  }

  form {
    display: inline-block;
    line-height: 20px;
    font-size: 20px;

    .btn {
      padding: 0 !important;
      border: 0 !important;
    }
  }
}

table {
  tr.separator {
    border-width: 2px 0 2px 0;
    border-style: dashed;
    border-color: $secondary;
    color: $secondary;
    font-style: italic;

    > td {
      padding: 5px 10.5px;
    }
  }

  tr {
    td {
      a {
        color: $primary-bg-aria;
      }
    }
  }

  &.ts { // jQuery.tableSorter Icon Fix
    tr.tsTitles {
      th.sortable {
        position: relative;

        &:after {
          content: "";
          background-color: transparent;
          margin-top: 5px;
          border-left: 5px solid #333;
          border-right: 5px solid transparent;
          border-top: 5px solid transparent;
          border-bottom: 5px solid transparent;
          position: absolute;
          right: 0;
          //transform: translateX(-50%);
        }
      }

      th.desc:after,
      th.asc:after {
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
      }

      th.desc {
        &:after {
          border-top: 5px solid #333;
          border-bottom: 0 solid transparent;
        }
      }

      th.asc {
        &:after {
          border-top: 0 solid transparent;
          border-bottom: 5px solid #333;
        }
      }
    }
  }
}

header {
  overflow-y: hidden;
}

body:not(.login) {
  footer {
    overflow-y: hidden;
    //position: fixed;
    bottom: 0;
    //z-index: 2147483640;
  }
}

footer {
  a {
    color: lighten($primary, 25%);
  }
}

.question-type {
  @include media-breakpoint-down('md') {
    margin-right: 5px;
    margin-bottom: 5px;
  }

  color: darken($secondary, 30%);
  background: lighten($info, 30%);

  &:hover {
    color: darken($secondary, 0);
    background: lighten($info, 0);
  }
}

.card {
  .card-title-container {
    background: $info;
  }

  .card-title {
    max-height: 35px;

    .material-icons {
      color: white;
    }

    .btn-block {
      cursor: default;
    }

    .input-group-append {
      position: relative;
      left: 100%;
      top: 50%;
      transform: translate(-115%, -115%);

      .btn-sm {
        border-radius: 0.5rem !important;
        margin-left: 5px;
        cursor: pointer;
      }
    }
  }

  .card-body {
    .delete-choice {
      user-select: none;
      cursor: pointer;
    }

    .add-choice {
      cursor: pointer;
    }

    label[for*="[question]"] {
      max-width: 90%;
      max-height: 20px;
      overflow: hidden;
    }
  }

  .delete-question {
    background: darken($dark, 30%);
    color: lighten($danger, 30%);
    border-color: lighten($danger, 30%);
  }

  .close-question {
    cursor: ns-resize;
  }

  .moveup-question {
    cursor: n-resize;
  }

  .movedown-question {
    cursor: s-resize;
  }
}

.breadcrumb {
  margin-left: -15px;
  margin-right: -15px;

  .breadcrumb-item {
    color: darken($primary-bg-dark, 0%);

    a {
      color: $primary-bg-aria;
    }
  }
}

.toast {
  .toast-header {
    font-size: 1rem;
  }

  .toast-body {
    font-size: 0.925rem;
  }
}

.uselect-none {
  user-select: none;
}

.alert.d-inline-block {
  min-width: 350px;
  min-height: 150px;
  position: fixed;
  left: 100%;
  top: 100%;
  z-index: 2147483641;

  .btn {
    max-width: 26px;
    max-height: 25px;
    cursor: pointer;
  }
}

.nav-link {
  cursor: pointer;

  &.active {
    background: darken($primary-bg-dark, 15%);
  }
}

.dropdown-item {
  &:focus,
  &:active,
  &.active {
    background: darken($primary-bg-dark, 15%);
  }
}

// Fill Session
.instructions {
  color: darken($primary, 25%);
}

.form-group.criterion {
  i {
    font-size: .65em;
  }

  &.is-invalid {
    &:before {
      border-top: 5px solid $danger !important;
    }
  }

  &.is-valid {
    &:before {
      border-top: 5px solid $success !important;
    }
  }

  &:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    height: 5px;
    width: 50%;
  }

  &:not(.is-invalid):not(.is-valid) {
    &:before {
      border-top: 5px solid mix($primary, orange);
    }

  }
}

.btn-toolbar {
  user-select: none;
}

@include media-breakpoint-down('sm') {
  .d-xs-none {
    display: none !important;
  }
  .d-xs-block {
    display: block !important;
  }
  .col-xs {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .text-xs-center {
    text-align: center !important;
  }
  .text-xs-left {
    text-align: left !important;
  }
  .text-xs-right {
    text-align: right !important;
  }
}

.material-icons {
  &.icon-sm {
    font-size: .8em;
  }

  &.strikethrough {
    font-weight: lighter;
    font-style: italic;
    color: lighten($text-muted, 25%);
    cursor: not-allowed;
    width: 20px;

    > i.material-icons {
      transform: translate(-90%);
      color: $text-muted;
      font-weight: bolder;
      font-size: 1.125em;
    }
  }
}

.cursor-def {
  cursor: default !important;
}

.cursor-con {
  cursor: context-menu !important;
}

.bg-gray {
  background: darkgray;
}
